---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import Services from "../../components/Services.astro";
import About from "../../components/About.astro";
import Credentials from "../../components/Credentials.astro";
import Reviews from "../../components/Reviews.astro";
import LocationSection from "../../components/LocationSection.astro";
import Footer from "../../components/Footer.astro";
import MobileCta from "../../components/MobileCta.astro";
---

<Layout
  title="Karla Aracelly González Arana | Vestibular Rehabilitation in Mérida"
  description="Physical therapist specialized in advanced vestibular rehabilitation, certified by the University of Pittsburgh. Treating vertigo, dizziness and imbalance in person in Mérida or by video consultation."
>
  <Header />
  <main class="pb-20 md:pb-0">
    <Hero />
    <Services />
    <About />
    <Credentials />
    <Reviews />
    <LocationSection />
  </main>
  <Footer />
  <MobileCta />
</Layout>
