---
import { cn } from '../../lib/cn'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={cn('border border-brand-border bg-brand-panel/40 p-6', className)}>
  <slot />
</div>
