---
import { cn } from '../../lib/cn'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={cn('mx-auto w-full max-w-5xl px-6', className)}>
  <slot />
</div>
