---
import Container from './Container.astro'
import { cn } from '../../lib/cn'

interface Props {
  id?: string
  class?: string
  containerClass?: string
}

const { id, class: className, containerClass } = Astro.props
---

<section id={id} class={cn('py-20 sm:py-28', className)}>
  <Container class={containerClass}>
    <slot />
  </Container>
</section>
